.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 12px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    max-width: 100%; /* Use full width */
    width: 400px; /* Fixed width for desktop */
    overflow: hidden; /* Prevent overflow */
}
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
}

.day-header {
    text-align: center;
    font-weight: bold;
    color: #333;
}
.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px; /* Space between days */
    margin: 20px 0;
    width: calc(100% - 20px); /* Adjust width to fit the modal */
}

.day {
    padding: 15px; /* Padding for better touch targets */
    text-align: center;
    cursor: pointer;
    border-radius: 50%; /* Circular buttons */
    transition: background 0.3s, transform 0.2s; /* Hover effect */
    background-color: #f9f9f9; /* Default background */
    min-width: 40px; /* Ensure minimum width for each day */
}
.day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px; /* Space between day names and calendar body */
}



.day:hover {
    background: #e0ffe0; /* Changed hover color */
    transform: scale(1.05);
}

.selected {
    background-color: #0DAC8A; /* Selected color */
    color: white; /* White text for readability */
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.cancel-button,
.apply-button,
.today-button,
.arrow-button {
    padding: 10px 15px; /* Adjusted padding */
    border: 1px ;
    border-radius: 10px; /* Round buttons */
    cursor: pointer;
    transition: background 0.3s; /* Smooth hover effect */
}
.today-button, .arrow-button {
    border-radius: 20px !important;
}

.cancel-button {
    background-color: #ffffff; /* Red for cancel */
    color: #86868A;
    border: 1px solid #86868A;
}

.cancel-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.apply-button {
    background-color: #0DAC8A; /* Green for apply */
    color: white;
}

.apply-button:hover {
    background-color: #009c68; /* Darker green on hover */
}

.today-button,
.arrow-button {
    background-color: #e0e0e0; /* Gray for utility buttons */
}

.today-button:hover,
.arrow-button:hover {
    background-color: #c8c8c8; /* Darker gray on hover */
}
