.account-profile-img {
  height: 120px;
  border-radius: 50% !important;
  border: 3px solid $foreground-color;
}

.account-profile-background-layer {
  height: 15vh;
}

.account-profile-background-layer-btn {
  text-align: end;
  align-content: flex-end;

  button {
    margin-right: 2%;
    margin-bottom: 2%;
  }
}

.account-profile-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 2%;
  border-radius: 10px !important;

  position: relative;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  top: -75px;

  div {
    p {
      margin: 0;
      padding: 0;
      margin-left: 4px;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        margin: 0;
        padding: 0;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}
